<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

    <bean id="sysUserService" class="com.tmlk.service.impl.SysUserServiceExt">
        <property name="sysUserDao" ref="sysUserDao"/>
    </bean>
    <bean id="partyUserService" class="com.tmlk.service.impl.PartyUserServiceExt">
        <property name="partyUserDao" ref="partyUserDao"/>
    </bean>
    <bean id="sysPartyUserLinkService" class="com.tmlk.service.impl.SysPartyUserLinkServiceExt">
        <property name="sysPartyUserLinkDao" ref="sysPartyUserLinkDao"/>
    </bean>
    <bean id="partyService" class="com.tmlk.service.impl.PartyServiceExt">
        <property name="partyDao" ref="partyDao" />
    </bean>
    <bean id="groupService" class="com.tmlk.service.impl.GroupServiceExt">
        <property name="groupDao" ref="groupDao" />
    </bean>
    <bean id="groupUserService" class="com.tmlk.service.impl.GroupUserServiceExt">
        <property name="groupUserDao" ref="groupUserDao" />
    </bean>
    <bean id="messageService" class="com.tmlk.service.impl.MessageServiceExt">
        <property name="messageDao" ref="messageDao" />
    </bean>
    <bean id="newsService" class="com.tmlk.service.impl.NewsServiceExt">
        <property name="newsDao" ref="newsDao" />
    </bean>
    <bean id="forumService" class="com.tmlk.service.impl.ForumServiceExt">
        <property name="forumDao" ref="forumDao" />
    </bean>
    <bean id="forumCommentService" class="com.tmlk.service.impl.ForumCommentServiceExt">
        <property name="forumCommentDao" ref="forumCommentDao" />
    </bean>
    <bean id="documentService" class="com.tmlk.service.impl.DocumentServiceExt">
        <property name="documentDao" ref="documentDao" />
    </bean>
</beans>